/**
 * Wireframe Layout
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }


 body{
     background-color: grey;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-right: 20px

 }

 p{
    position: relative;
    top: -120px;
    
    

 }
 header{
     
     padding: 40px;
     margin-bottom: 10px;
     margin-right: 20px;
     margin-left: 20px;
     background-color: #E8E7E7;
     color: grey;
 }

 #nav{
     padding:40px;
     margin-right: 20px;
     margin-left: 20px;
     background-color: #E8E7E7;
     color: grey;
 }

 #left{
    padding: 150px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #E8E7E7;
    color: grey;
    width: 50%;
    height: 50%;
    float: left;
    position: relative;

 }

 aside{
    padding: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #E8E7E7;
    color: grey;
    width: 550px;
    height: 90%;
    float: right;
 }

 #article{
    background-color: grey;
    color:#E8E7E7;
    top:28%;
    left: 2%;
    right: 15%;
    text-align: center;
    padding: 120px;
    float: left;
    width: 595px;
    height: 190px;
    position: absolute;

 }

 #hs{
    background-color: #E8E7E7;
    color: grey; 
    padding: 22px;
    float: left;
    width: 530px;
    left: 4%;
    top: 30%;
    position: absolute;
 }

 #p{
   background-color: #E8E7E7;
   margin-top: 20px;
   color: grey;
   padding: 22px;
   float: left;
   width: 530px;
   left:4%;
   overflow: auto;
   position: absolute;
   top: 56%;
 }

 footer{
   padding: 40px;
   margin-bottom: 10px;
   margin-right: 20px;
   margin-left: 20px;
   background-color: #E8E7E7;
   color: grey;
   clear: both;
 }
